numpy==1.21.6
Cython==0.29.24
caimcaim==0.3
faiss==1.5.3
imbalanced_learn==0.11.0
imblearn==0.0
kaggle==1.5.16
lightgbm==4.1.0
matplotlib==3.5.3
mdlp==0.32
pandas==1.3.5
pomegranate
scikit-learn==1.0.2
scipy==1.7.3
tqdm==4.64.1
